body {
    background-color: lightsalmon;
}

.container{
    background: bisque;
    padding: 20px;
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 48px;
}

h1,
h2 {
    text-align: center;
    color: darkolivegreen;
    font-family: 'Pacifico', cursive;
}

.imgbox {
    width: 100%;
    height: auto;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 0%;
}

.links {
    width: 22%;
    text-align: center;
    list-style-position: inside;
    margin: auto;
}