body {
    background-color: bisque;
}

h1,
h2 {
    text-align: center;
    color: darkolivegreen;
}

.imgbox {
    width: 100%;
    height: auto;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 0%;
}

.links {
    width: 30%;
    text-align: center;
    margin: auto;
}