body {
    background-color: lightsalmon;
}

h1,
h2 {
    font-family: 'Pacifico', sans-serif;
    color: darkcyan;
}

h1 {
    text-align: center;
}

.container{
    background: bisque;
    padding: 20px;
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

.imgbox {
    width: 100%;
    height: auto;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 0%;
}

.numbers {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: darkcyan;
    font-size: 24px;
}

p,
ul {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}