body {
    background-image: url("../../images/wood-background.jpg");
}

h1,
h2 {
    font-family: 'Pacifico', sans-serif;
    color: darkcyan;
}

h1 {
    text-align: center;
}

.container{
    background: bisque;
    padding: 20px;
    width: 70%;
    max-width: 1000px;
    margin: auto;
    border-radius: 50px 15px;
    box-shadow: 10px 10px 10px rgb(50, 50, 50);
}

.imgbox {
    width: 100%;
    height: auto;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 0%;
    border-radius: 20px;
}

.numbers {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: darkcyan;
    font-size: 24px;
}

p,
ul {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 80, 0);
}

.paragraph {
    background-color: beige;
    padding: 5px;
    border-radius: 20px 7px;
    box-shadow: 5px 5px 5px rgb(50, 50, 50);
}

.paragraph p {
    margin: 20px;
}

.buttonsBox {
    text-align: center;
}

.button {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    color: darkcyan;
    height: 50px;
    width: 150px;
    border: 5px solid;
    border-color: darkcyan;
    margin-inline: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

button:hover {
    transform: translateY(-10px);
    background-color: darkcyan;
    color: white;
}